<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contato</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container" *ngIf="data">
    <div class="foto">
      <ion-avatar>
        <img [src]="data.image" />
      </ion-avatar>
    </div>
    <div class="conteudo">
      <h1 id="name">{{data.name}}</h1>
      <div class="resultados">
        <ion-icon name="call-outline"></ion-icon>
        <h1>{{data.id}}</h1>
        <ion-icon name="mail-outline"></ion-icon>
        <h1>{{data.email}}</h1>
      </div>
    </div>
    <ion-button (click)="voltar()">Voltar</ion-button>
  </div>
</ion-content>
