<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contatos</ion-title>
    </ion-toolbar>
  </ion-header>


   <ion-item button detail lines="full" *ngFor="let lista of listas" (click)="showInfoModal(lista)" >
      <ion-avatar>
        <img [src]="lista.image">
      </ion-avatar>
      <ion-label>
        {{lista.name}}
      </ion-label>
    </ion-item>
</ion-content>
